*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    background-color: rebeccapurple;
    color: #eee;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
